/* css for all */

:root {
  --background: #1c1c1c;
  --dark-gray: #111111;
  --mid-gray: #393939;
  --light-gray: #676767;
  --dark-shadow: #000000bb;


  --font-pixel: silkscreen;
}

body {
  background-color: var(--background);
  color: var(--light-gray);
  font-family: quicksand;
}

h1 {
  font-family: var(--font-pixel);
  color: white;
  font-size: 30px;
}

h2 {
  font-family: var(--font-pixel);
  color: white;
  font-size: 22px;
}

.flex-row {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
}

.button {
  background-color: var(--dark-gray);
  padding: 10px 20px;
  color: #ffffff;
  font-family: var(--font-pixel);
  border: 5px solid black;
  box-shadow: 2px 2px 12px #000000b1;
}

.button:hover {
  background-color: #171717;
  
  cursor: pointer;
}

.icon-container {
  width: 40px;
  height: 40px;
  border: 5px solid black;
  border-radius: 100%;
  background-color: white;
  color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-pixel);
  font-weight: bold;
  font-size: 20px;
  box-shadow: 2px 2px 12px #000000b1;

}

.icon-container:hover {
  cursor: pointer;
}

.filter-btn {
  background-color: var(--dark-gray);
  padding: 8px 12px;
  border-radius: 8px;
  color: var(--light-gray);
  font-size: 11px;
  font-weight: bold;
}

.filter-btn:hover {
  cursor: pointer;
}

.type {
    background-color: var(--dark-gray);
  padding: 8px 12px;
  border-radius: 8px;
  color: white;
  font-size: 11px;
  font-weight: bold;
  text-wrap: nowrap;
}